{% extends "base.html" %}
{% load static %}


{% block title %} Calculate Your Badget {% endblock %}

{% block content %}
<header>
    <!-- Slide section -->
    <div id="slides">
      <div class="overlay"></div>

      <div class="slides-container">
        <img src="{% static 'img/1.svg' %}" class="img-fluid">
        <img src="{% static 'img/2.svg' %}" class="img-fluid">
        <img src="{% static 'img/3.svg' %}" class="img-fluid">
      </div>

      <div class="title-message">
        <div class="heading">
          <p class="main d-none d-lg-block text-muted">Welcome to REACH Technologies</p>
          <p class="sub" style="font-size:2.2rem; color: rgb(91, 155, 213);">REACH Software Engineering Design Test</p>
          <p class="sub text-muted">Calculate Your Monthly Budget</p>
          <p class="sub typed text-muted"></p>
        </div>
      </div>

      <div class="slides-navigation">
        <a href="#" class="next"></a>
        <a href="#" class="prev"></a>
      </div>
    </div>   <!-- Slide section end -->
  </header>

   <div class="section" id="form-section">
     <div class="container">
       <div class="row">

         <div class="col-lg-5">
           <form method="POST" action="{% url 'home' %}"  id="form" class="wow fadeInLeft budget-form" data-wow-delay="0.3s">
             <div class="form-group">
               <label for="income">Your income</label>
               <input type="number" name="income" class="form-control" id="income" placeholder="Enter your monthly income">
               <small class="form-text text-muted">Note that this application considered the N30,000 min wage. Pls, enter value not less than 30000</small>
             </div>
  
             <div class="form-group">
               <label for="age">Enter your age</label>
               <input type="number" name="age" class="form-control" id="age" placeholder="Enter your age">
             </div>
  
             <div class="form-group">
               <label for="gender">Gender</label>
               <select class="custom-select" name="gender">
                <option selected>Pls select an option.</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Prefer not to answer</option>
              </select>
              <small class="form-text text-muted">Note that your information will not be shared and they are not saved.</small>
             </div>

             <div class="form-group">
               <label for="marital_status">Marital Status</label>
               <select class="custom-select" name="marital_status">
                <option selected>Pls select an option.</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
                <option value="3">Prefer not to answer</option>
              </select>
             </div>

              <div class="form-group">
               <label for="dependents">Number of dependents</label>
               <input type="number" name="dependents" class="form-control" id="dependents" placeholder="Enter number of dependents">
               <small class="form-text text-muted">This includes you and your dependents altogether</small>
             </div>
  
             <button type="submit" id="submit" class="btn btn-primary submit">Calculate Budget</button>
           </form>
  
         </div>
          <!-- Budget display -->
           <div class="col-lg-6 ml-3 mt-5 budget">
            <div class="card fadeInRight">
              <div class="card-header">
                <h3>Your Monthly Budget:</h3>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Budget</th>
                      <th scope="col">Percentage</th>
                      <th scope="col">Amount in Naira</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Groceries</td>
                      <td class="groc_perc"></td>
                      <td class="groc_amt"></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Clothing</td>
                      <td class="cloth"></td>
                      <td class="cloth_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">3</th>
                      <td>Healthcare</td>
                      <td class="healthcare"></td>
                      <td class="healthcare_amt"></td>
                    </tr> <tr>
                      <th scope="row">4</th>
                      <td>Household Repairs</td>
                      <td class="household"></td>
                      <td class="household_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">5</th>
                      <td>Laundary</td>
                      <td class="laundry"></td>
                      <td class="laundry_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">6</th>
                      <td>Miscellaneous</td>
                      <td class="misc"></td>
                      <td class="misc_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">7</th>
                      <td>Rent</td>
                      <td class="rent"></td>
                      <td class="rent_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">8</th>
                      <td>Subscriptions</td>
                      <td class="subs"></td>
                      <td class="sub_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">9</th>
                      <td>Transport</td>
                      <td class="trans"></td>
                      <td class="trans_amt"></td>
                    </tr> 
                    <tr>
                      <th scope="row">10</th>
                      <td>Savings</td>
                      <td class="savings"></td>
                      <td class="savings_amt"></td>
                    </tr> 

                  </tbody>
                </table>
              </div>
            </div>
           </div>
       </div>
     </div>
   </div>

   <footer>
     <div class="copyright-section">
       <div class="col-md-12 text-center">
         <p>&copy; Copyright: <a href="https://www.linkedin.com/in/ogunola-taiwo" target="_blank">Taiwo Ogunola</a>, 2019</p>
       </div>
     </div>
   </footer>
{% endblock %}

{% block domready %}
  <script src="{% static 'js/budget.js' %}"></script>
{% endblock %}
